# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*

# environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# build files
dist/
build/

# coverage
coverage/

# Docker
*.tar

# temporary files
tmp/
temp/

# cache
.cache/node_modules/
